In [7]:
Tugas pertemuan ke 3
 
1.STRING INDEX adalah
->variabel yang menyimpan suatu nilai berupa barisan karakter,
->index string dapat menampilkan karakter dengan index tertentu,
->index string dimulai menggunakan bilangan bulat dari 0.

kegiatan = 'amel suka tidur di larut malam dan bangun di pagi hari'
print(kegiatan [0:16])
#dari "0" index karakter yang mulai dicetak,dan "16" batas akhir karakter yang dicetak tetapi "16" tidak dicetak.
print(kegiatan [:-10])
#dari variabel diatas yang dicetak yaitu dari awal karakter,dimana "-10" menjadi batas akhir karakter,dan sama dengan artinya 10 karakter dikiri tidak dicetak.
print(kegiatan [1:])
#dari "1" indek karakter akan dicetak,sampai akhir karakter karena tidak ada batas akhir di variabel yang di masukkan.
print(kegiatan[2:-1:3])
#dari (2) index akan dicetak "e",dari (-1) karakter tidak dicetak dari sebelah kanan yaitu "i",dan untuk (3) dia loncat 3 kali (kelipatan 3) dari kiri bisa,dari kanan bisa tapi -1 tetep kehapus 1 huruf "e".

amel suka tidur
amel suka tidur di larut malam dan bangun di
mel suka tidur di larut malam dan bangun di pagi hari
esairiatamabg  gh

In [ ]:
----------------------------spasi-------------------------------

In [ ]:
2. STRING METHODS 
   adalah fungsi atau prosedur yang dibuat didalam suatau class.
berikut adalah beberapa contoh string method :

In [21]:
univ = 'Universitas Udayana dan Universitas Jember'

In [22]:
print(len(univ))
#menghitung jumlah huruf pada string.

42

In [23]:
->upper

univ.upper()
#mengubah semua karakter pada string menjadi huruf kapital (besar).

'UNIVERSITAS UDAYANA DAN UNIVERSITAS JEMBER'

In [24]:
->lower

univ.lower()
#mengubah semua karakter pada string menjadi huruf kecil.

'universitas udayana dan universitas jember'

In [27]:
->find contoh 1

univ.find('Udayana')
#muncul urutan yang ke ... dari kata (Udayana)

12

In [30]:
->find contoh 2

univ.find('universitas')
#tidak dapat muncul urutannya yang ke berapa,karena tidak ada huruf kapital seperti kalimat awal.

-1

In [31]:
->replace

univ.replace('Universitas','Perguruan Tinggi')
#mengganti kata Universitas menjadi Perguruan Tinggi,tetapi harus sama ttep diperhatikan huruf kapitalnya.

'Perguruan Tinggi Udayana dan Perguruan Tinggi Jember'

In [35]:
print('Universitas' in univ)
#kata 'Universitas' benar krn sama dg yg diawal ada huruf kapital

True

In [36]:
print('universitas' in univ)
#kata 'universitas' salah ,krn tdk sama dgn kata awalan,tdk ada huruf kapital

False

In [ ]:
-----------------------------spasi------------------------------

In [23]:
3.OPERASI MATEMATIKA
-> contoh 1

a = 13
b = 4

print('a + b =',a + b)    #penjumlahan
print('a - b =',a - b)    #pengurangan
print('a * b =',a * b)    #perkalian
print('a % b =',a % b)    #modulo
print('a / b =',a / b)    #pembagian
print('a // b =',a // b)  #pembulatan pembagian
print('a ** b =',a ** b)  #pemangkatan

a + b = 17
a - b = 9
a * b = 52
a % b = 1
a / b = 3.25
a // b = 3
a ** b = 28561

In [24]:
->contoh 2 

x=50
x+=2
print(x)  #penjumlahan pada variabel x

52

In [25]:
->contoh 3

y=22
y-=10
print(y) #pengurangan pada variabel y

12

In [26]:
->contoh 4

x=20
x*=10
print(x) #pemangkatan pada variabel x

200

In [ ]:
-------------------------------spasi-------------------------------

In [33]:
4.OPERASI PERBANDINGAN
->contoh

a = 9
b = 4

print('a > b :',a>b)    #lebih besar
print('a < b :',a<b)    #lebih kecil
print('a == b :',a==b)  #sama dengan
print('a != b :',a!=b)  #tidak sama dengan
print('a >= b :',a>=b)  #lebih besar sama dengan
print('a <= b :',a<=b)  #lebih kecil sama dengan

a > b : True
a < b : False
a == b : False
a != b : True
a >= b : True
a <= b : False

In [ ]:
-------------------------------spasi-----------------------------

In [36]:
5.OPERASI LOGIKA
-> contoh 1

x = False
y = True

#logika and
A = x and y
print ('False and True =', A)

#logika or
A = x or y
print ('False or True =', A)

#logika not
A = not x
print ('not False =', A)

False and True = False
False or True = True
not False = True

In [38]:
-> contoh 2
#menentukan nilai kebenaran

angsa_kakinya = 2
sapi_kakinya = 4

print(angsa_kakinya > 2 and sapi_kakinya <5)
print(angsa_kakinya > 1 or sapi_kakinya <2)

False
True

In [ ]:
-----------------------------spasi---------------------------------

In [41]:
6.OPERATOR IF 
->contoh 

usia =float(input("Masukkan usia anda :"))
print ()
if usia >=0 and usia <=4 :
    print ('Kategori : Balita')
    print('wah masi kicik sekali kamu yaa')
if usia >=5 and usia <12 :
    print ('Kategori : Anak-Anak')
    print('wiedee sudah sekolah TK ni yaa')
if usia >=13 and usia <=17 :
    print ('Kategori : Remaja')
    print ('Semangat sekolahnya yaa')
if usia >=18 and usia <=50 :
    print ('Kategori : Dewasa')
    print ('semangat yaaa')
if usia >=50 :
    print ('Kategori : Lansia')
    print ('jangan lupa jaga kesehatnnya ka nek/kek')

Masukkan usia anda :3

Kategori : Balita
wah masi kicik sekali kamu yaa