TUGAS MINGGU KE 4

5.11 METODE WHILE LOOP

In [ ]:
x= 0
while x < 8:
    x = x**2
    x = +1
print(x)

In [ ]:
a = 0
while a < 5:
    a = a**2
    a = + 1
# jika loading maka hasilnya benar

In [2]:
z = 0
while z < 8:
    print("Angka " + str(z) +" masih dibawah 8")
    z +=1

Angka 0 masih dibawah 8
Angka 1 masih dibawah 8
Angka 2 masih dibawah 8
Angka 3 masih dibawah 8
Angka 4 masih dibawah 8
Angka 5 masih dibawah 8
Angka 6 masih dibawah 8
Angka 7 masih dibawah 8

In [3]:
print("Program Bilangan Bulat 1 hingga x")
i =1;
x =int(input("Masukkan Bilangan Bulat x = "))

while i <= x:
    print(i);
    i=i+1;
#saya mencoba menggabungkan antara print,int dan while

Program Bilangan Bulat 1 hingga x
Masukkan Bilangan Bulat x = 8
1
2
3
4
5
6
7
8

In [1]:
a = 0
while a < 7:
    print(a * '*')
    a += 1

*
**
***
****
*****
******

5.12 LIST

In [10]:
-> Contoh 1
print(listumur)    #list dengan data tunggal bertipe data integer

listnama = "amelia"
print(listnama)    #list dengan data tunggal bertipe data string

18
amelia

In [13]:
-> Contoh 2
listnilai = [67,100,80,98,78,60] #list dengan banyak integer dengan ',' sebagai tanda pemisah
print(listnilai)

listsaya = [1,2,'a',3,'halo',True,4,5,False,3.14]
print(listsaya)
#list dengan penggabungan tipe data
~ 1,2,3,4,5 adalah tipe data integer
~ 'a','halo'adalah tipe data string
~ True,False adalah tipe data Boolean
~ 3.14 adalah tipe data float atau decimal

[67, 100, 80, 98, 78, 60]
[1, 2, 'a', 3, 'halo', 'True', 4, 5, 'False', 3.14]

In [15]:
-> Contoh 3
#Cara mengambil nilai didalam list.
#Inget mel index dimulai dari 0,dan juga dapat memulai dari akhir list yang dimulai dari -1
hewan = ['singa', 'kuda nil', 'harimau', 'babi', 'anjing']
print (hewan)     # mencetak semua index 
print (hewan[0])  # mencetak data ke 0
print (hewan[3])  # mencetak data ke 3
print (hewan[-1]) # mencetak data -1

['singa', 'kuda nil', 'harimau', 'babi', 'anjing']
singa
babi
anjing

5.13 METODE LIST

In [2]:
hewan = ['singa', 'kuda nil', 'harimau', 'babi', 'anjing']
print(hewan)
print(hewan[3])
print(hewan[4])
print(hewan[0])

['singa', 'kuda nil', 'harimau', 'babi', 'anjing']
babi
anjing
singa

In [1]:
nama = ['amelia','nur','risma','riska']
nama.append('ana') #menambahkan (ana) dalam class nama
print(nama)

['amelia', 'nur', 'risma', 'riska', 'ana']

In [2]:
nama.insert(1,'wulan') #menambahkan kata (wulan) pada urutan yg kita inginkan.
print(nama)

['amelia', 'wulan', 'nur', 'risma', 'riska', 'ana']

In [3]:
nama.remove('nur') #menghapus kata (nur)
print(nama)

['amelia', 'wulan', 'risma', 'riska', 'ana']

In [4]:
print('nur' in nama) #false,karena (nur) sudah kita hapus pada class diatas.

False

In [5]:
print('amelia' in nama) # mengetahui kebenaran tentang kata yg di inginkan

True

In [6]:
print(len(nama)) #menghitung jumlah kata yang ada pada class (nama)

5

5.14 FOR LOOP

In [8]:
hari =['senin', 'selasa', 'rabu', 'kamis', 'jumat', 'sabtu']
for padet in hari:
    print(padet)

senin
selasa
rabu
kamis
jumat
sabtu

In [17]:
colours = ['yellow','black','green','purple']
fruits = ['manggo','banana','apple']
for x in colours:
    for y in fruits:
        print(x,y)
#loop akan di cetak sekali untuk setiap index dari loop luar

yellow manggo
yellow banana
yellow apple
black manggo
black banana
black apple
green manggo
green banana
green apple
purple manggo
purple banana
purple apple

In [10]:
y = 0
while y < len(hari):
    print(hari[y])
    y+=1

senin
selasa
rabu
kamis
jumat
sabtu

In [23]:
nilai = [1,2,3,4,9,16]
b=[]
for i in nilai:
    b.append (i**2)
    print(b)
# contoh untuk membuat daftar baru yang akan menyimpan kotak elemen dari daftar sebelumnya.

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 81]
[1, 4, 9, 16, 81, 256]

5.15 FUNGSI RANGE

In [19]:
nilai = range(9)
print(nilai)

range(0, 9)

In [20]:
for isi in nilai:
    print(isi)

0
1
2
3
4
5
6
7
8

In [17]:
for isi in range (0,12,4):
    print(isi)
#dimulai dari 0,kurang dari 12,dan kelipatan 4

0
4
8

In [18]:
for isi in range (6,10):
    print(isi)
#dimulai dari 6 dan kurang dari 10

6
7
8
9

In [26]:
for i in range(1,11):
    if i == 8:
        continue
    print(i,' x ',i,' = ',i*i)
#saya mencoba kode perulangan for dan range untuk menghasilkan daftar perkalian mulai dari 1x1 hingga 11x11

1  x  1  =  1
2  x  2  =  4
3  x  3  =  9
4  x  4  =  16
5  x  5  =  25
6  x  6  =  36
7  x  7  =  49
9  x  9  =  81
10  x  10  =  100